<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RestaurantSoftware.Properties.Settings.nhahang_dbConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=nhahang_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="nhahang_dbConnectionString" connectionString="XpoProvider=MSSqlServer;data source=.\SQLEXPRESS;integrated security=SSPI;initial catalog=nhahang_db" />
        <add name="RestaurantSoftware.Properties.Settings.nhahang_dbConnectionString1"
            connectionString="Data Source=DESKTOP-L65GGB3;Initial Catalog=nhahang_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DUYTHANHTRAN\SQLEXPRESS_Connection" connectionString="XpoProvider=MSSqlServer;data source=.\SQLEXPRESS;integrated security=SSPI;initial catalog=nhahang_db" />
    </connectionStrings>
</configuration>